<ng-container layout="row">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <mat-divider></mat-divider>
    <h2>Escolha uma ou mais disciplinas</h2>
    <div mat-dialog-content class="ModalContainer">
        <form>
            <mat-form-field appearance="standard">
                <mat-label>Disciplinas</mat-label>
                <mat-select multiple>
                    <mat-option *ngFor="let disciplina of disciplinas" [value]="disciplina" (onSelectionChange)="handleDisciplinas($event)">
                        {{disciplina.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <h2>Ou</h2>
        <mat-divider></mat-divider>
        <h2>Cadastre uma nova disciplina</h2>
        <div class="row">
            <app-form-disciplina escolaId={{escolaId}} [value]="novaDisciplina" (disciplinaChanged)="handleNovaDisciplinaChanged($event)"></app-form-disciplina>
        </div>
        <div class="row">
            <button 
                mat-button 
                color="primary"
                (click)="handleNovaDisciplinaSubmit()"
                class="rightButton" 
                >Cadastrar disciplina</button>
        </div>
        <mat-divider></mat-divider>
    </div>

    <div mat-dialog-actions align="end">
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="onSubmit()" cdkFocusInitial>Adicionar</button>
    </div>
</ng-container>