@import 'include-media/dist/_include-media.scss';


.title { 
    margin-top: 10px;
    margin-left: 15px;
}

.row {
    max-width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:1;
}

.base-container{
    display: flex;
    max-width: 100%;
    justify-content: center;
}

app-card { 
    display: flex;
    flex: 1;
}


@include media(">phone", "<tablet"){
    .row{
        flex-direction: column;
    }
}