.base-container{ 
    margin: 10px;
    width: 100%;
    height: auto;
}

.mat-column-nome {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 50% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  

  .mat-column-ano {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 45% !important;
    width: 45% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  

.mat-card-content {
    margin-top: 20px;
}


table {
    width: 100%;
}