<ng-container layout="row">
    <h1 mat-dialog-title>{{data.title}}</h1>
    <mat-divider></mat-divider>
    <div mat-dialog-content class="turmaModalContainer">
        <form>
            <mat-form-field appearance="standard">
                <mat-label>Nome da turma</mat-label>
                <input 
                    matInput 
                    type="text"
                    placeholder="Ex: 1º ano A" 
                    value={{turma.nome}}
                    (change)="handleNome($event.target.value)">
            </mat-form-field>
    
            <mat-form-field appearance="standard">
                <mat-label>Ano da turma</mat-label>
                <input 
                    matInput 
                    placeholder="1º ano" 
                    value={{turma.ano}}
                    (change)="handleAno($event.target.value)">
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="onSubmit()" cdkFocusInitial>{{buttonText}}</button>
      </div>
</ng-container>